body {
   margin-top: 30px;
   font-family: 'Ubuntu', sans-serif;
   background-color: #000;
}

.center {
   margin: auto !important;
   width: 30%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

input[type=email], input[type=password] {
   padding: 17px 320px 17px 15px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   outline: none;
}

button {
   background-color: crimson;
   color: white;
   border-radius: 5px;
   padding: 17px 168px;
   width: 500px;
   margin-top: 30px;
   border: none;
   cursor: pointer;
   font-weight: bold;
   font-size: 15px;
}


button:hover {
   color: crimson;
   background: none;
   border: 3px solid crimson;
   transition: all 0.3s ease;
   font-weight: bold;
   font-size: 16px;
}

p {
   color: white;
}

@media only screen and (max-width:550px) {
   button {
      padding: 17px 0px !important;
      width: 307px;
   }

   input {
      padding: 17px 120px 17px 15px !important;
   }
}

@media only screen and (max-width:330px) {
   button {
      padding: 17px 0px !important;
      width: 245px !important;
   }

   input {
      padding: 17px 60px 17px 15px !important;
   }
}

@media only screen and (max-width:280px) {
   button {
      padding: 17px 0px !important;
      width: 230px !important;
   }

   input {
      padding: 17px 45px 17px 15px !important;
   }
}

