body {
  background-color: #000;
  font-family: 'Ubuntu', sans-serif;
}

input[type=text] {
  padding: 17px 320px 17px 15px;
  display: block !important;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  display: block;
  background-color: crimson;
  color: white;
  padding: 17px 168px;
  width: 500px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin: auto;
  margin-top: 30px !important;
}

button:hover {
  color: crimson;
  background: none;
  border: solid crimson;
  transition: all 0.3s ease;
}

#addProjectBtn {
  display: none;
}

#project-form {
  display: none;
}

#project-form input {
  margin: 0 auto !important;
}

#project-form p {
  color: white;
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width:550px) {
  button {
    padding: 17px;
    width: 400px;
    font-size: 15px;
 
  } 
  input {
    padding: 17px 210px 17px 15px !important;
  }
}

@media only screen and (max-width:450px) {
  button {
    padding: 17px;
    width: 300px;
    font-size: 14px;
 
  } 
  input {
    padding: 17px 110px 17px 15px !important;
  }
}

@media only screen and (max-width:320px) {
  button {
    padding: 17px;
    width: 200px;
    font-size: 13px;
 
  } 
  input {
    padding: 17px 12px 17px 15px !important;
  }
}